AuthType Basic
AuthName "Restricted Content"
AuthUserFile /etc/apache2/.htpasswd
Require valid-user
php_flag display_errors 1

ErrorDocument 404 /index.html

## Turn on rewrite engine
RewriteEngine on

# remove trailing slash (not workign)
# RewriteRule (.+)/$ /$1 [L,R=301]
