#editButton {
  width: 90%;
}

#editModal {
  width: 50vw;
  height: 95vh;
}

.remixInput {
  margin-left: 1vw;
}


h4,h3,h2,h1,span,input {
  margin-left: 1vw;
}

.remixNumberOfPeriodsInput {
  width: 50px;
}


.actualScheduleName {
  display:inline-block;
}
