.remixPeriodNameInput {
  width: 30%;
}

.actualScheduleName {
  width: 40%;
}

.scheduleAbbreviationInput {
  width: 25%;
  padding-left: 10px;
}

#remixSchoolName {
  width: 45%;
}

#schoolColorInput {
  height: 50px;
  width: 100px;
}


.sidebarButtons {
  border:none;
  outline:none;
  color:#3b3b3b;
  width: 90%;
  height: 7vh;
  margin-top: 1vh;
  margin-bottom: 0.25vh;
}


#editModal {
  width: 45vw;
  height: 95vh;
}

.actualScheduleName {
  display:inline-block;
outline:none;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight:normal;
}

.boringSchedule {
  display:inline-block;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  margin-left: 7px;
}

.otherboring {
  display:inline-block;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.remixHeader {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 35spx;
}

.remixElement {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  background-color:white;
  color:black;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  white-space: nowrap;
  max-width: 70%;
}

.inlinespantest {
  display:inline-block;
}

.numberOfPeriodsSpan {
  display:block;
}

.remixNumberOfPeriodsInput {
  width: 50px;
  font-weight:normal;
  display:inline-block;
  margin-left: .5vw;
  text-align:center;
}

.numberLabel {
  display:inline-block;
}

.periodTimingRemix {
  width: 65px;
}



 #remixDef {
   margin-left: 1vw;
   font-family:Arial;
 }




 .g-recaptcha {
   margin-left: 1vw;
 }

 #startRemixButton {
   margin-left: 1vw;
   margin-right: 1vw;
   width: 94%;
   height: 5vh;
   background-color: #1E1E1E;
   color:white;
   border:none;
   margin-bottom: 3vh;
   margin-top: 3vh;
   border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }

 button:focus {
   outline:none;
 }

 #customerLol {
   display:none;
 }
