.slide {
  display:none;
  background-color:#202833;
  width: 90vw;
  position:absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
  vertical-align:center;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0px 0px 0px 0px;
  height: 80vh;
  margin-bottom: 8vh;
  margin-top: 8vh;
  transition: all 1s;
}

.slideHeading {
  font-size: 5em;
  margin-bottom:3vw;
}

#slide1Heading, #slide2Heading{
  font-size: 8em;
}




.next {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
  position: absolute;
  bottom: 0;
  background-color: #2196F3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 20px;
  transition: all 0.25s;
  cursor: pointer;
  margin: 5px;
  right:0;
  margin-right: 1vw;
  margin-bottom: 1vw;
}

.back {
  left: 0;
  right:auto;
  margin-left: 1vw;
}

.next:focus {
  outline:none;
}

.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.back span:after {
  content: '\00ab'
}


.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}
