#bigDiv {
  width: 100vw;
  height: 100vh;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}

#about {
  background-color:white;
}

#timerCodeLabel {
  margin-top: 7vh;
}

#shareCode {
  margin-top: 2vh;
}


#backupCode, #goCode {
  width: 300px;
  border:none;
  outline:none;
  text-align:center;
}
#backupCode:hover {
  cursor:text;
}

#looking {
  color:white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#cantFind {
  display:none;
  background-color:transparent;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color:gray;
  margin-bottom:100px;
}

#waiting {
  background-color:transparent;
}

#txtHint {
  display: none;
}

body {
  margin: 0px 0px 0px 0px;
}

#styleTimer {
  background-color: #181818;
  font-family: Arial;
  color: white;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
   overflow: visible;
}


#schoolTitle {
  color: white;
  position: relative;
  background-color: #202020;
  padding:bottom: 0px;
  margin: 0px 0px 0px 0px;
}

#scheduleLabel {
  margin-bottom: 0px;
  margin-top: 0px;
}

#selectorDiv {
  margin-top:0;
  font-size: 3.5vh;
  border:none;
  outline:none;
  margin-bottom: 100px;
}

#selectorDiv:hover, #selectorDiv:active, #selectorDiv:focus, div, input, span {
  outline:none;
}

#sidebar {
  display:none;
  height: 110vh;
  background-color: white;
  position: relative:absolute;
  float:right;
  padding: 25px 25px 25px 25px;
  color:black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.radioButtonClass {
  color: white;
}

.actualRadioButton {
  background-color: black;
}

td {
  height: 1px;
  padding-right: 0px;
  margin-right: 0px;
}

table {
  border-collapse: collapse;

  position: absolute;
  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  left: 0;
  right: 0;
  border-collapse: collapse;
      white-space: nowrap;
}

td,
th {
  text-align: left;
  font-size: 1vh;
  height: 1px;
      white-space: nowrap;
}


.timeDisplay {
width: 10vw;
padding-left: 15px;
height: 1px;
}

.nameDisplay {
  height: 1px;
  padding-right: 0px;
  margin-right: 0px;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  opacity: 0;
transition: opacity 1s;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 105%;
  font-size: 2vh;

  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);

  padding: 10px 10px 10px 10px;
  width: 200px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


@media (max-width : 600px) { /* Phones */
  table {
    border-collapse: collapse;
    position: absolute;
    top: 0%;
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    left: 0;
    right: 0;
  }


  #sidebar {
    display:none;
    height: 110vh;
    background-color: white;
    position: relative:absolute;
    float:right;
    color:black;
    width: 0px;
  }
}
