.pageHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 7vh;
  font-weight:100;
  margin-left: 1vw;
}

.remixHeader {
  margin-top:0;
}

.remixElement {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  background-color:white;
  color:black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  white-space: nowrap;
}

#leftSide {
  width: 45%;
  height:85vh;
  position:absolute;
  float:left;
  background-color: #f2f2f2;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  top: 10%;
  margin-left:1vw;

  z-index:5;
}

#remixScheduleContainer {
  width: 45%;
  height:90vh;
  position:absolute;
  float:right;
  background-color: #f2f2f2;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  top: 5%;
  right:1.5vw;
  overflow-y: scroll;

  z-index:5;
}

#createButton {
  display: table;
    margin: 0 auto;
    border:none;
    width: 80%;
    background-color:#0C0F1B;
    color:white;
    cursor:pointer;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.g-recaptcha {
  margin-left: 1vw;
}

 input[type=time]::-webkit-datetime-edit-ampm-field {
   display: none;
 }

 #location, #number {
   margin-bottom:5px;
 }

 .remixNumberInput {
   height: 5vh;
   width: 7vh;
   font-size: 3vh;
   cursor:pointer;
 }

input:focus {
  outline:none;
}


.explain {
  color:blue;
  font-size: 20px;
  font-family: 'BenchNine', sans-serif;
  text-decoration:underline;
  cursor:pointer;
  position: relative;
  display: inline-block;
  margin-top:0;
}

.other {
  color:gray;
  cursor:text;
  text-decoration:none;
}

 .tooltiptext {
  visibility: hidden;
  background-color: #0C0F1B;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 170%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.explain:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#remixSchoolName {
  width: 50%;
}

#schoolColorInput {
  background-color:white;
  cursor:pointer;
  width: 10%;
  height: 30px;
}


.actualScheduleName, .scheduleAbbreviationInput {
  height: 30px;
  font-size: 15px;
  margin-bottom:10px;
}

.otherboring {
  font-size: 17px;
  margin-bottom:0;
  display:inline-block;
  margin-right: 7px;
  margin-top: 5px;
}

.remixNumberOfPeriodsInput {
  height: 3vh;
  width: 5vh;
  font-size: 2vh;
  cursor:pointer;
  vertical-align:middle;
  border:1px solid gray;
  padding-left:2px;
  text-align:center;
}

.boringSchedule {
  display:inline-block;
  margin:0;
  margin-left: 10px;
  color:gray;
  font-weight:100;
}

.boringSchedule2 {
  display:inline-block;
  margin:0;
  margin-top: 10px;
  margin-left: 0px;
  margin-right:40px;
  color:gray;
  font-weight:100;
}

.boringSchedule3 {
  display:inline-block;
  margin:0;
  margin-top: 10px;
  margin-left: 85px;
  color:gray;
  font-weight:100;
}


.remixPeriodNameInput {
  width: 200px;
}

.remixPeriodNameInput, .periodTimingRemix {
  height: 25px;
  border:0.5px solid gray;
  margin-bottom: -1px;
  font-size: 12px;
}
.periodTimingRemix {
  border:1px solid gray;
  border-left:none;
}

input {
  padding-left:5px;
}


.copyButtons, .pasteButtons {
  height: 50px;
  width: 110px;
  float:right;
  background-color:white;
  border:1px solid gray;
  margin-left: 5px;
  cursor:pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align:center;
}

.pasteButtons {
  display:none;
}

button:focus {
  outline:none;
}
