.pageHeader {
  font-family: Arial;
  font-size: 5vh;
  font-weight:bold;
  margin-left: 1vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}

.remixHeader {
  margin-top:0;
}

#schoolNameRemixElement {
  margin-top:0.5vw;
}

.remixElement {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  background-color:white;
  color:black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  white-space: nowrap;
}

#leftSide {
  width: 47%;
  height:86vh;
  position:absolute;
  float:left;
  background-color: #f2f2f2;
  top: 10.25%;
  margin-left:1vw;
  z-index:5;
}

#remixScheduleContainer {
  width: 50%;
  height:75vh;
  position:absolute;
  float:right;
  background-color: #f2f2f2;


  top: 10%;
  right:1.5vw;
  overflow-y: scroll;

  z-index:5;

}

#done {
  position:absolute;
  float:right;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 50%;
  bottom: 2.5%;
  right:1.5vw;
  z-index:5;
  height: 125px;

}

#allDone {
  margin:0;
  font-size: 55px;
  font-weight:100;
  display:inline-block;
  float:left;
  margin-top:25px;
  margin-left:1.5vw;
}

#createButton {
  display:inline-block;
  float:left;

  border:none;
  width: 300px;
  margin-left: 2.5vw;
  background-color:#F9F9F9;
  color:black;
  cursor:pointer;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top:17px;
  font-size: 15px;
}

.g-recaptcha {
  margin-left: 1.5vw;
  display:inline-block;
  float:left;
  margin-top:25px;
}


 #location, #number {
   margin-bottom:5px;
 }

 .remixNumberInput {
   height: 5vh;
   width: 7vh;
   font-size: 3vh;
   cursor:pointer;
 }

input:focus {
  outline:none;
}


.explain {
  color:blue;
  font-size: 27.5px;
  font-family: 'BenchNine', sans-serif;
  text-decoration:underline;
  cursor:pointer;
  position: relative;
  display: inline-block;
  margin-top:0;
}

.other {
  color:gray;
  cursor:text;
  text-decoration:none;
}

 .tooltiptext {
  visibility: hidden;
  background-color: #0C0F1B;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 170%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.explain:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#remixSchoolName {
  height: 40px;
  font-size: 20px;
  margin-bottom:10px;
  width:50%;
}

#schoolColorInput {
  background-color:white;
  cursor:pointer;
  width: 15%;
  height: 40px;
}


.actualScheduleName, .scheduleAbbreviationInput {
  height: 30px;
  font-size: 15px;
  margin-bottom:10px;
}

.otherboring {
  font-size: 17px;
  margin-bottom:0;
  display:inline-block;
  margin-right: 7px;
  margin-top: 5px;
}

.remixNumberOfPeriodsInput {
  height: 3vh;
  width: 5vh;
  font-size: 2vh;
  cursor:pointer;
  vertical-align:middle;
  border:1px solid gray;
  padding-left:2px;
  text-align:center;
}

.boringSchedule {
  display:inline-block;
  margin:0;
  margin-left: 10px;
  color:gray;
  font-weight:100;
}

.boringSchedule2 {
  display:inline-block;
  margin:0;
  margin-top: 10px;
  margin-left: 0px;
  margin-right:40px;
  color:gray;
  font-weight:100;
}

.boringSchedule3 {
  display:inline-block;
  margin:0;
  margin-top: 10px;
  margin-left: 85px;
  color:gray;
  font-weight:100;
}


.remixPeriodNameInput {
  width: 200px;
}

.remixPeriodNameInput, .periodTimingRemix {
  height: 25px;
  border:0.5px solid gray;
  margin-bottom: -1px;
  font-size: 12px;
}
.periodTimingRemix {
  border:1px solid gray;
  border-left:none;
}

input {
  padding-left:5px;
}


.copyButtons, .pasteButtons {
  height: 50px;
  width: 110px;
  float:right;
  background-color:#F2F2F2;
  border:none;
  color:gray;
  margin-left: 5px;
  cursor:pointer;

  text-align:center;
}

.pasteButtons {
  display:none;
  font-weight:bold;
  background-color:#F2F2F2;
  color:black;
}

button:focus {
  outline:none;
}

#customerLol {
  display:none;
}

.countries, .states, .cities {
  background-color:white;
  border: 0.5px solid gray;
  margin-bottom: 10px;
  height: 30px;
}





body {
  margin:0px 0px 0px 0px;
  background-color: #F2F2F2;  /* dark mode color: 020D19 */
  overflow-x:hidden;
}


.feedBlock {
  margin-top:1%;
  margin-bottom:1%;
  background-color:#CCCCCC;
  width: 50%;
  height: 600px;
  border-radius:5px;
    z-index: -1;
}

.feedBlockTitle {
  color:white;
  font-family: 'Heebo', sans-serif;
  font-weight:100;
  font-size:2em;
  background-color:#262626;
  border-radius:5px;
  width:100%;
  height: 50px;
}

.feedBlockTitleText {
  color:white;
  float:left;
  margin-top:5px;
  margin-left: 10px;
  top: 50%;
}

.first {
  margin-top: 100px;
}

.feedData {
  float:left;
  font-family:Arial;
  margin-left:10px;
  position:absolute;
}



#titleBar {
  background-color: #262626;
  height:90px;
  width:100%;
  padding-left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
    z-index: 10;
}


#logo {
  height: 80px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display:inline-block;
}


.titleBarNav {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;

  background-color: #262626;
  border:none;
  display:inline-block;
  color:white;




}
.titleBarNav:focus {outline:0;}
.titleBarNav:hover {
  background-color:white;
  color: #262626;
  cursor: pointer;
}




.navSpace {
  margin:0px 0px 0px 0px;
  color: white;
  text-align: center;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  display:inline-block;
  margin-top: 23px;
  margin-left: 2%;
}

.navHome {
   margin-left: 7%;
}

.schoolTimerHome {
   font-family: 'Raleway', sans-serif;
   margin-left: 0.75vw;
   background-color:Transparent;
   border:none;
   color:white;
   font-size: 50px;
   margin-top:7px;
}

.navLogIn {
  margin-left:35%;
  border: 1px solid white;
}

.navSignUp {
  border: 1px solid white;
}
